<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Proyecto de Ingeniería de Software</span>
  </div>
</nav>


<br>

<!-- <div class="container">
  <h3>Demostración:</h3>
  <hr>
  <div class="col-md-12">
    <ul>
      <li>Andreé Alessandro Espinoza</li>
    </ul>
  </div>
</div> -->
<br><br><br>
<div class="container">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">9° Semestre</h1>
      <p class="col-md-8 fs-4">Ingeniería en Sistemas UMG.</p>
      <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
  </div>
</div>

<br><br>

<div class="container col-md-12">

  <div class="row text-center">
    <div class="card " style="width: 20%; margin: 2.5%;">
      <img src="assets/img/Aless.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Andreé Alessandro Espinoza Barrientos</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Myron.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mynor Fernando Velásquez Milián</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Chipi.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Eliezer David Salvador Duarte</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/PapaMario.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Yeferson René Gómez Marroquín</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Mari.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marily Estefani Castellanos Morales</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Putin.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Freddy Bladymir García</h5>
      </div>
    </div>
    <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Nay.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Naydelin Mayrel Marroquín Vargas</h5>
      </div>
    </div>
    <!-- <div class="card " style="width: 20%; margin: 1.66% auto;">
      <img src="assets/img/Nelson.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Néstor Antonio Sánchez Larios</h5>
      </div>
    </div> -->

  </div>

</div>
